@import '../../variables';

.product {
  position: relative;

  &:hover .product-btn-favorite, &:hover .product-btn-add {
    opacity: 1;
  }

  &:hover .product-image {
    transform: scale(1.1);
  }

  .product-title {
    font-size: 1.2rem;
    margin: 0.2rem 0;
    display: block;
  }

  .product-btn-add, .product-btn-favorite {
    border: solid 4px $secondary-color;
    color: $secondary-color;
    fill: $secondary-color;
    position: absolute;
    font-weight: bold;
    backdrop-filter: blur(5px);
    opacity: 0;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 0;
  }

  .product-btn-favorite {
    right: 1rem;
    top: 1rem;
    padding: 0;
    border-radius: 50%;
    background-color: $secondary-color;
    border: 0;
    fill: $light-color;

    svg {
      scale: 0.5;
    }
  }

  .product-btn-add {
    left: 1rem;
    bottom: 1rem;
    width: 87%;
    background-color: rgba(255, 255, 255, 0.2);
    padding: 0.5rem 0;

    &:hover {
      background-color: $secondary-color;
      color: $light-color;
      transform: scale(1.05) !important;
    }
  }

  .product-image-container {
    overflow: hidden;
    width: 100%;
    border-radius: $border-radius-low;
    display: block;

    .product-image {
      aspect-ratio: 1/1;
      width: 100%;
      height: auto;
      object-fit: cover;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
      transition: all 0.5s;
    }
  }

  .product-previous-price {
    color: $grey-500;
    text-decoration: line-through;
    font-size: 0.8rem;
    line-height: 1.7rem;
    cursor: default;
  }

  .product-price, .product-price-discount {
    font-size: 1.3rem;
    font-weight: bold;
    cursor: default;
  }

  .product-price-discount {
    color: $secondary-color;
  }

  .product-label-compare {
    color: $grey-500;
  }

  .product-label-image {
    height: 23px;
    width: auto;
    object-fit: cover;
  }
}

.compare-footprint-btn {
  display: block; /* Assure que le bouton prend toute la largeur disponible */
  margin: 10px auto; /* Centre le bouton horizontalement */
  padding: 10px 15px;
  border: 1px solid rgba(0, 0, 0, 0.700); /* Contour noir */
  border-radius: 25px; /* Bords arrondis */
  background-color: lighten($primary-color, 5%); /* Fond vert clair (variable) */
  color: white; /* Couleur de texte blanche */
  cursor: pointer; /* Change le curseur pour pointer sur hover */
  text-align: center; /* Centre le texte à l'intérieur du bouton */
  font-size: 15px; /* Taille de la police */
  font-weight: bold; /* Texte en gras */
  
  &:hover {
    background-color: $primary-color; /* Légère variation de couleur au survol */
  }
}

.added-to-cart-message {
  position: absolute; /* Utilisez position absolue pour pouvoir ajuster facilement la position */
  bottom: -30px; /* Ajustez cette valeur pour descendre le message */
  left: 50%; /* Centrer horizontalement */
  transform: translateX(-50%); /* Ajuster pour centrer parfaitement */
  background-color: rgba(0, 0, 0, 0.8); /* Couleur de fond légèrement transparente */
  color: #fff; /* Couleur du texte */
  padding: 10px 15px; /* Espacement interne */
  border-radius: 5px; /* Coins arrondis */
  font-size: 14px; /* Taille de la police */
  white-space: nowrap; /* Empêcher le texte de se couper sur plusieurs lignes */
}
